/*
*Create a new file called "main.css"
*Add a link element to the head of your index.html file
*<link rel="stylesheet" href="main.css" type="text/css">
*Edit the main.css file
*add a declaration for each element in the body of your index.html file.
*add properties to style the background color of each element.
*add properties to style the border of each element.
*add properties to style the font and text of each element.
*Use at least 20 different properties. Include a list of these 20 at the TOP of your main.css file as a css comment.
*Use at least 4 different units to set sizes of various aspects of your webpage.
*Go learn something from 2 classmates; add a comment to your main.css file that describes what you learned.
*View your index.html in the development server.
*Validate your index.html file.
*Validate your main.css file.
*Copy this list of requirements and paste it into the top of your "main.css" file as a css comment. Put an asterisk in front of each one that you did.
Upload to the production server with sftp.
View your index.html in the production server.
*/
/*
color
background color
font family
font style
font weight
font size
text align
text shadow
border
padding
border radius
background
background image
bottom 
left
right
top
position
margin
z index	
outline

*/
/* From Martin I learnt that you can not only push fom github, yoou can also pull.
	From Sienna I learnt that you can change your cursor's shape, by using the cursor property. */
	
html{
	border:groove 10px red;
	background:  radial-gradient(circle, red, black);
	background-position:center;
	padding-bottom:700px;
	cursor:crosshair;
	
}
header{
	border:5px groove yellow;
}
main{
	border:10pt solid blue;
}
h1{ 
	color:#6877d6;
	background-color:#e87474;
	font-family:fantasy;
	font-style:oblique;
	font-weight:200;
	font-size:10vh;
	text-align:center;
	text-shadow: 5px 2px #000000;
	border:5px ridge red;
	padding-bottom:50px;
	border-radius: 50px;
	outline: 0.1cm dotted black;
	text-decoration:underline;
	
}
li{
	color:blue;
	font-family:serif;
	font-style:oblique;
	font-size:22px;
}
ol li{
	color:green;
	font-family:monospace;
	font-style:oblique;
	font-size:22px;
	margin-left:20px
}
ul li{
	color:blue;
	font-family:monospace;
	font-style:oblique;
	font-size:22px;
	list-style-type: square ;
}
h2,h3{
	color:blue;
	font-family:serif;
	font-style:italic;
	font-weight:500;
	font-size:50px;
	text-align:center;
	margin-top:-20px;
}
nav{
	border:5px groove green;
}
footer{
	left:10px;
	bottom:10px;
	position:fixed;
	color:green;
	font-family:monospace;
}
h5{
	position:absolute;
	left:400px;
	top:20px;
	z-index:-5;
}
h4{
	left:50px;
	bottom:50px;
	position:fixed;
	z-index:-4;
	opacity: 0.3;
    filter: alpha(opacity=30)
}

p{
	color:green;
	font-family:monospace;
	font-style:oblique;
	font-size:22px;;
}
a:link,a:visited{
	color:yellow;
	text-decoration: none;
}
a:hover{
	background-color:yellow;
	color:black;
	text-decoration: none;
	cursor:wait;
	
}
a:active{
	text-decoration:underline;
	color:blue;
	background-color:red;
}
	

	
	
	
