h1{ 
	color:#6877d6;
	background-color:#e87474;
	font-family:fantasy;
	font-style:oblique;
	font-weight:200;
	font-size:50px;
	text-align:center;
	text-shadow: 5px 2px #000000;
	border:5px solid red;
	padding-bottom:50px;
	border-radius: 50px;
	
}

h2{
	color:#ff0000;
	font-family:serif;
	font-style:italic;
	font-weight:200;
	font-size:50px;
	text-align:center;
}
html{
	background-color:#000000;
	border:5px solid #00307f;
	background-image: url("Dragon_Fantasy_Art-720x405.jpg");
	padding-bottom:700px;
	background: radial-gradient(circle, red, black);
}
p{
	color:green;
	font-family:monospace;
	font-style:oblique;
	font-weight:200;
	font-size:22px;
	text-align:center;
	float:left;
}
footer{
	left:10px;
	bottom:10px;
	position:fixed;
	color:green;
	font-family:monospace;
}
h3{
	float:center;
	left:50px;
	bottom:50px;
	position:fixed;
	z-index:-4;
}
h4{
	position:absolute;
	z-index:-10;
	right:10px;
	top:10px
}


	

	
	
	
